.gig-time-place {
  background-color: black;
}

.bottom-text {
  background-color: black;
}

/* .text {
  color: white;
}

.date {
  color: lightblue;
}

.price {
  color: cornflowerblue;
} */

.cardtext {
  color: cornflowerblue;
}
