.search {
  background-color: #01243b;
  background: "#77868F";
  color: "lightblue";
}

.search h3 {
  color: white;
}

.searchAllign {
  display: flex;
  flex-direction: row;
}

.refignButton {
  height: 30px;
  border-width: 1px;
  border-color: #2dd073;
  background: #08243c;
  color: #2dd073;
}

.filler {
  height: 32px;
  width: 5px;
  vertical-align: bottom;
  margin-bottom: 2px;
  border-width: 1px;
  border-color: #08243c;
  background: #08243c;
  color: #08243c;
}

.searchButton {
  height: 30px;
  width: 30px;
  background-color: #2dd073;
  vertical-align: bottom;
  margin-bottom: 2px;
  border-width: 1px;
  border-color: #2dd073;
  color: black;
  background-image: url(../images/search24.png);
  background-position: center;
  background-repeat: no-repeat;
}

.icon {
  position: absolute;
  top: 50%;
  left: 50%;
  height: 50%;
  transform: translate(-50%, -50%);
  width: 10px;
  height: 10px;
  margin-left: auto;
  margin-right: auto;
  display: block !important;
  background: red;
}
